.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 1012px;
    width: 100%;

    background: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    text-transform: uppercase;
    &__container {
        text-align: center;     
        color: $color-basic-light;
    }
    &__title {
        margin: 0 0 1.4rem 0 ;
        font-size: 2.2rem;
        span {
            color: $color-main;
        }
    }
    &__desc {
        margin: 0 0 1.4rem 0 ;
        font-size: 4.9rem;
        
    }
    &__text  {
        margin: 0 0 8rem 0 ;
        font-size: 2.1rem;
        color: $color-light-grey;
        font-weight: 400;
    }
    &__btn {
        margin: 0.7rem;
    }
}
