.header {
    position: absolute;
    // max-width: 1920px ;
    width: 100%;
    // left: 50%;
    // transform: translateX(-50%);
    background-color: rgba(94, 93, 88, 0.6);
}

.header__container {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}
.header__btn-burger {
    align-self: center;
    justify-self: center;
    width: 30px;
    height: 30px;
}
.header__nav {
    min-height: 100%;
    display: flex;
    justify-content: end;
    align-items: stretch;
}

.header__nav-list {
    display: flex;
    flex-wrap: wrap;
}

.header__link {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-basic-light;
    font-weight: 700;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    // &:hover {
    //     color: $color-main;
    //     border-bottom: 3px solid $color-main;

    // }
}

.hover {
    color: $color-main;
    border-bottom: 3px solid $color-main;
}

.header__wrap-serch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn-search {
        border: none;
        outline: none;
        background-color: transparent;
    }
}
.header__form {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    background-color: $color-basic-light;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 4px solid $color-main;

    input {
        border: none;
        outline: none;
    }
    button {
        border: none;
        outline: none;
        background-color: transparent;
    }
}
.search-active {
    display: flex;
}

@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .header__container {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
    }
    .header__logo {
        align-self: center;
        justify-self: center;
        order: 1;
        padding-left: 50px;
    }
    .header__nav {
        position: absolute;
        left: -200%;
        top: 100%;
    }
    .header__nav-list {
        flex-direction: column;
        background-color: rgba(94, 93, 88, 0.6);

        .header__link {
            padding: 0.5rem;
        }
    }
    .header__nav--active {
        left: 0;
    }
    .header__btn-burger {
        display: block;
        position: relative;
        overflow: hidden;
        order: 0;
        transition: all 0.9s;
        span {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 3px;
            width: 100%;
            background-color: $color-light-grey;
            transition: all 0.5s;

            &:nth-of-type(2) {
                top: calc(50% - 5px);
            }

            &:nth-of-type(3) {
                top: calc(50% + 5px);
            }
        }
        &--active {
            span {
                &:nth-of-type(1) {
                    left: -100%;
                }
                &:nth-of-type(2) {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }

                &:nth-of-type(3) {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }
    .header__wrap-serch {
        order: 2;
    }
}
@media (max-width: 768px) {
    .header__nav {
        width: 80%;
        .header__nav-list {
            width: 100%;
        }
    }
}
@media (max-width: 576px) {
    .header__nav {
        width: 100%;
    }
    .header__img-logo {
        height: 90px;
    }

}
@media (max-width: 320px) {
    .header__img-logo {
        height: 80px;
    }
}
