.services {
    text-align: center;
    margin: 90px auto;
    &__tab {
        display: grid;
        grid-template-rows: max-content, max-content;
    }
    &__list-btn {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding-bottom: 15px;
        .item-btn {
            position: relative;
            padding: 1em 0;
            background-color: $color-basic-light;
            border: 3px solid transparent;
            &:hover {
                border: 3px solid $color-main;
            }
            &--active {
                background-color: $color-main;
                border: 3px solid $color-main;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    left: 45%;
                    transform: rotate(45deg);
                    display: block;
                    width: 15px;
                    height: 15px;
                    background-color: $color-main;
                }
            }
        }
    }
    &__list-cards {
        .card {
            display: none;
            grid-template-columns: max-content 1fr;
            gap: 10px;
            &--active {
                display: grid;
            }
            & img {
                width: 200px;
                height: 140px;
                object-fit: cover;
                margin-bottom: 15px;
            }
            & p {
                margin: 0;
                padding: 0;
                text-align: start;
                max-height: 140px;
                overflow: auto;

                font-style: normal;
                font-weight: 300;
                font-size: 13.645px;
                line-height: 24px;
                color: #777777;
            }
        }
    }

    @media (max-width: 320px) {
    }
    @media (max-width: 576px) {
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 992px) {
        &__list-btn {
            .item-btn {
                &--active {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        &__list-btn {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            padding-bottom: 15px;
        }
        &__list-cards {
            .card {
                display: none;
                grid-template-columns: 1fr;
                gap: 10px;
                &--active {
                    display: grid;
                }
                & img {
                    margin: 0 auto;
                    width: 300px;
                    height: 200px;
                    object-fit: cover;
                }

                & p {
                    padding: 0 20px;
                }
            }
        }
    }
    @media (max-width: 1200px) {
    }
    @media (max-width: 1400px) {
    }
}
