body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1180px;;
    margin: 0 auto;
    padding: 0 10px;
}
.container-max {
    max-width: 100%;
    margin: 0 auto;
}

.btn {
    padding: 1.5em;
    text-transform: uppercase;
    color: $color-basic-light;
    background-color: $color-main;
    border: none;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0px -5px 5px white;
    }
    &:active {
        box-shadow: none;
        background-color: $color-btn-active;
    }
}


.dec-line {
    position: relative;
    width: 80px;
    margin: 0 auto;
    &::before {
        position: absolute;
        top: -3px;
        left: -5px;
        content: '';
        width: 80px;
        border-bottom: 2px solid $color-main;
    }
    &::after {
        position: absolute;
        bottom: -3px;
        right: -5px;
        content: '';
        width: 80px;
        border-bottom: 2px solid $color-main;
    }
}

// @media (max-width: 1400px) {
// }
// @media (max-width: 1200px) {
// }
// @media (max-width: 992px) {
// }
@media (max-width: 768px) {
.container {
    padding: 0;
}
}
// @media (max-width: 576px) {
// }
// @media (max-width: 320px) {
