$color-main: #18CFAB;
$color-basic-light: #fff;
$color-darck: #1C2A33;
$color-text-light: #BBBBBB;
$color-light-grey:  #d4d4d4; 
$color-btn-active: #00CBF6;
$color-main-dark: #1C2A33;
$color-light-btn:#EDEFEF;
$color-bg-gray: #E9EDEF;
$color-main-soft: #878787;


